@import "tailwindcss";

@theme {
  --color-apple-light: #f5f5f7;
  --color-apple-gray: #86868b;
  --color-apple-dark: #1d1d1f;
}

@layer base {
  body {
    background-color: var(--color-apple-light);
    color: var(--color-apple-dark);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
  /* Estilos para o RichTextEditor nativo */
  [contenteditable] {
    @apply outline-none;
  }
  [contenteditable] h2 {
    @apply text-xl font-bold mb-2 leading-tight;
  }
  [contenteditable] h3 {
    @apply text-lg font-semibold mb-1 leading-tight;
  }
  [contenteditable] p {
    @apply text-sm mb-2;
  }
  [contenteditable] b, [contenteditable] strong {
    @apply font-bold;
  }
  [contenteditable] i, [contenteditable] em {
    @apply italic;
  }
  [contenteditable] u {
    @apply underline;
  }
  [contenteditable] s, [contenteditable] strike {
    @apply line-through text-apple-gray;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
